.ql-font-Arial { font-family: Arial, sans-serif; }
.ql-font-Verdana { font-family: Verdana, sans-serif; }
.ql-font-Times\ New\ Roman { font-family: "Times New Roman", serif; }
.ql-font-Georgia { font-family: Georgia, serif; }
.ql-font-Courier\ New { font-family: "Courier New", monospace; }
.ql-font-Tahoma { font-family: Tahoma, sans-serif; }
.ql-font-Impact { font-family: Impact, sans-serif; }
.ql-font-Comic\ Sans\ MS { font-family: "Comic Sans MS", cursive; }
.ql-font-Trebuchet\ MS { font-family: "Trebuchet MS", sans-serif; }
.ql-font-Lucida\ Console { font-family: "Lucida Console", monospace; }
.ql-font-Garamond { font-family: Garamond, serif; }
.ql-font-Bookman { font-family: Bookman, serif; }
.ql-font-Palatino { font-family: Palatino, serif; }
.ql-font-Century\ Gothic { font-family: "Century Gothic", sans-serif; }
.ql-font-Calibri { font-family: Calibri, sans-serif; }
.ql-font-Candara { font-family: Candara, sans-serif; }
.ql-font-Constantia { font-family: Constantia, serif; }
.ql-font-Franklin\ Gothic { font-family: "Franklin Gothic Medium", sans-serif; }
.ql-font-Futura { font-family: Futura, sans-serif; }
.ql-font-Gill\ Sans { font-family: "Gill Sans", sans-serif; }
.ql-font-Helvetica { font-family: Helvetica, sans-serif; }
.ql-font-Rockwell { font-family: Rockwell, serif; }
.ql-font-Baskerville { font-family: Baskerville, serif; }
.ql-font-Avant\ Garde { font-family: "Avant Garde", sans-serif; }
.ql-font-Didot { font-family: Didot, serif; }
.ql-font-Optima { font-family: Optima, sans-serif; }
.ql-font-Cambria { font-family: Cambria, serif; }
.ql-font-Perpetua { font-family: Perpetua, serif; }
.ql-font-Monaco { font-family: Monaco, monospace; }
.ql-font-Lora { font-family: Lora, serif; }
.ql-font-Merriweather { font-family: Merriweather, serif; }
.ql-font-Playfair\ Display { font-family: "Playfair Display", serif; }
.ql-font-Roboto { font-family: Roboto, sans-serif; }
.ql-font-Open\ Sans { font-family: "Open Sans", sans-serif; }
.ql-font-Montserrat { font-family: Montserrat, sans-serif; }
.ql-font-Poppins { font-family: Poppins, sans-serif; }
.ql-font-Raleway { font-family: Raleway, sans-serif; }
.ql-font-Lato { font-family: Lato, sans-serif; }
.ql-font-Oswald { font-family: Oswald, sans-serif; }
.ql-font-Nunito { font-family: Nunito, sans-serif; }
.ql-font-Dosis { font-family: Dosis, sans-serif; }
.ql-font-Quicksand { font-family: Quicksand, sans-serif; }
.ql-font-Pacifico { font-family: Pacifico, cursive; }
.ql-font-Lobster { font-family: Lobster, cursive; }
.ql-font-Anton { font-family: Anton, sans-serif; }
.ql-font-Maven\ Pro { font-family: "Maven Pro", sans-serif; }
.ql-font-Bangers { font-family: Bangers, cursive; }
.ql-font-Caveat { font-family: Caveat, cursive; }
.ql-font-Dancing\ Script { font-family: "Dancing Script", cursive; }
.ql-font-Indie\ Flower { font-family: "Indie Flower", cursive; }
.ql-font-Abril\ Fatface { font-family: "Abril Fatface", serif; }
